@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .container {
    padding: 0 1rem;
  }

  .compact {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
